.new-arrivals-content{
    width: 100%;
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    overflow: hidden;
}
.new-arrivals-title{
    color: black;
}
.new-arrivals-product-slider{
    background-color: rgb(187, 241, 241);
    width: 100%;
}
.new-arrivals-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 22px 40px;
}
.new-arrivals-title{
    font-size: 26px;
    font-family: "Inter";
}
.new-arrivals-product-slider{
    background-color: rgb(255, 255, 255);
    height: 100%;
    padding: 22px 40px;
}
.arrivals-priceimg-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 12px;
    background-color: rgb(255, 255, 255);
}
.arrivals-details-section{
    display: flex;
    flex-direction: column;
    background-color:#F3F5F7;
    padding: 20px;
    gap: 12px;
}
.arrivals-product-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter";
    /* background-color: rgb(225, 245, 245); */
}
.arrivals-product-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color:#F3F5F7;
}
.arrivals-addtocart-section{
    display: flex;
    justify-content: center;
}
.arrivals-addtocart-btn{
    background-color: black;
    color: white;
    font-family: "Inter";
   font-size: 22px;
   padding: 10px;
   text-align: center;
   border-radius: 12px;
   width: 90%;
   cursor: pointer;
}

.new-arrivals-product{
    background-color: rgb(214, 214, 136);
    width: 100%;
    max-width: 400px;
    height: 100%;
}
.arrivals-title{
    font-size: 22px;
    font-family: "Inter";
    font-weight: 600;
}
.arrivals-price{
    font-size: 22px;
    font-family: "Inter";
    font-weight: 600; 
}

.product-img{
    height: 100%;
}
.arrivals-priceimg-section{
    padding: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    color: #b3b3b3 !important;
}
@media screen and (max-width:850px) and (min-width:0px) {
    .arrivals-addtocart-btn {
      
        font-size: 18px;
        padding: 12px;
  
    }
}
@media screen and (max-width:500px) and (min-width:0px) {
   
.new-arrivals-product-slider {
    padding: 22px 20px;
}
}


